//- Header
- var navbarStyle = theme.navbar && theme.navbar.style ? theme.navbar.style : 'fill'
header.header(class=navbarStyle === 'bubble' ? 'navbar-bubble' : '')
  nav.nav
    .nav-container
      .nav-logo
        a(href=url_for('/'))
          span.nav-title=config.title
      
      .nav-menu
        - var menu = theme.menu || {}
        each path, title in menu
          if typeof path === 'object'
            .nav-item.has-submenu
              span.nav-link= title
              .submenu
                each subPath, subTitle in path
                  a.submenu-item(href=url_for(subPath))= subTitle
          else if path === '/'
            a.nav-item(href=url_for(path), class=is_home() ? 'active' : '')= title
          else
            a.nav-item(href=url_for(path), class=is_current(path) ? 'active' : '')= title
        
        // 搜索按钮
        if theme.theme_config.search && theme.theme_config.search.enabled
          .search-toggle
            i.fas.fa-search
      
      .nav-toggle
        span
        span
        span